<div ng-if="vm.isAdmin" class="row form-control">
        <h3 class="text">Admin Config</h3>
        <hr/>
        <div class="col-md-12">
            <label for="adminPlayDate" class="label">วันที่เล่นแบด : </label>
            <input type="text" id="adminPlayDate" class="form-control" ng-model="vm.playDate" />
            <br/>
        </div>
        <div class="col-md-12">
            <label for="adminMemberLimit" class="label">จำนวนสมาชิกที่รับได้ : </label>
            <input type="text" id="adminMemberLimit" class="form-control" ng-model="vm.MEMBER_LIMIT" />    
            <br/>
        </div>
        <div class="col-md-12">
            <label for="adminCourtName" class="label">ชื่อคอร์ทแบด : </label>
            <input type="text" id="adminCourtName" class="form-control" ng-model="vm.courtName" />
            <br/>
        </div>
        <div class="col-md-12">
            <label for="adminShowTimestamp" class="label">โชว์ Timestamp : </label>
            <select id="adminShowTimestamp" class="form-select" ng-model="vm.showTimestamp" ng-options="opt for opt in [true,false]">
                <option value="">---เลือก---</option>
            </select>
            <br/>
        </div>
        <div class="col-md-12">
            <button class="btn btn-success w-100" ng-click="vm.saveWebConfig()" >Save Config</button>
            <br/>
        </div>
        <div class="col-md-12">
            <br/>
            <button class="btn btn-warning w-100" ng-click="vm.resetAll()">Reset All Members</button>
        </div>   
    </div>